# Byte-compiled / optimized / DLL files
*/__pycache__/*
*.py[cod]
*$py.class

# Tomita
tomita_env/bin/*
tomita_env/*/*.bin
*.gzt

# IDE
.vscode/*

# C extensions
*.so

# Static
static_storage

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Vagrant files
.vagrant

# DBs
*.sqlite3