# Byte-compiled / optimized / DLL files
*/__pycache__/*
*.py[cod]
*$py.class

# Tomita
tomita/bin/*
tomita/*/*.bin
*.gzt

# IDE
.vscode/*

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib64
__pycache__

# Vagrant files
.vagrant